@import 'variables';

html {
  font-family: $body-font-face, sans-serif;
  font-size: $base-font-size;
  line-height: 1.6;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1,h2,h3 {
  padding: 0;
  margin: 0;
}
