@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300italic,300,700,700italic);

$body-font-face: "Titillium Web", sans-serif;

$accent: #aa4461;
$secondary: #44aa70;

$brightWhite: #FFFFFF;
$medium-gray: #888888;
$light-gray: #EEEEEE;
$dark: #313315;

$alertColour: #FF4422;

$base-font-size: 12pt;
$base-padding: $base-font-size;

$medium: 10pt;
$small: 6pt;
$tiny: 1pt;